.copyleft {
    display:inline-block;
    transform: rotate(180deg);
}

.navbar-statement {
    align-items: center;
    font-style: italic;
}

.d-flex.order-lg-2.ml-auto {
    margin-left: 0 !important;
}