# Server

## Build
server/dist

## Dependencies
server/node_modules

## Yarn
server/yarn-error.log

## env
server/.env

#################################
# Client

## Dependencies
client/node_modules

## Yarn
client/yarn-error.log

## env
client/.env

#################################
# Intellij
.idea

